body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color:black;
    color: #fff;
    text-align: center;
    padding: 15px;
  }
  
  button {
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  section {
    margin: 50px;
  }
  
  .Participante, .card {
    border: 5px solid rgb(150, 145, 143);
    padding: 40px;
    margin: 20px;
    text-align:left;

  }
  
  label {
    margin-bottom: 5px;
  }

  .Participante img{
    border-radius: 100%;
    width: 20%;
    height:200px;
    float:left;
  }

  body.light-mode {
    background-color: #f4f4f4;
    color: #333;
  }

  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  #darkModeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }


  
  